<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>

<body class="text-[#D4C9BE] bg-[#222222]">
  <%- include('./partials/header') %>
  <div class=" flex items-center justify-center mt-10 min-h-100">
    <form action="/category/<%= categoryId %>/edit" method="post" class="flex flex-col w-90 sm:w-120 border-2 p-8 gap-2 border-4 rounded-3xl">
      <p class="font-body text-center mb-4 text-4xl">Update <%= categoryName%></p>
      <%- include('partials/errors',{errors}) %>
      <label for=" categoryName" class="font-text text-xl">Category Name</label>
      <input type=" text" name="categoryName" id="categoryName" placeholder="Edit category name" value="<%=categoryName %>" class="font-text text-white border-2 p-2 rounded-xl text-xl text-xl">
      <label for="password" class="font-text text-xl">password</label>
      <input type="text" name="password" id="password" placeholder="Enter password" class="font-text border-2 p-2 rounded-xl text-xl text-white">
      <button type="submit" name="editCategoryBtn" value="update" class="border-3 rounded-xl border-dashed font-body text-xl w-50 mx-auto mt-4 p-2 text-3xl cursor-pointer hover:border-solid duration-400 hover:scale-105">Update Category</button>
      <button type="submit" name="editCategoryBtn" value="delete" class="border-3 rounded-xl border-dashed font-body text-xl w-50 mx-auto mt-4 p-2 text-3xl cursor-pointer hover:border-solid duration-400 hover:scale-105">Delete Category</button>
    </form>
  </div>
</body>

</html>